/* line 4, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 25, ../sass/screen.sass */
body.bp {
  line-height: 1.5;
  font-family: Georgia, Times, Times New Roman, serif;
  color: #333333;
  font-size: 112.5%;
}
/* line 51, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 53, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:visited {
  color: #004c99;
}
/* line 21, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body.bp a:active {
  color: #bf00ff;
}
/* line 63, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp strong, body.bp dfn {
  font-weight: bold;
}
/* line 65, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp em, body.bp dfn {
  font-style: italic;
}
/* line 66, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 67, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp del {
  color: #666666;
}
/* line 70, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp pre, body.bp code, body.bp tt {
  font: 1em Monaco, Courier New, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  line-height: 1.5;
}
/* line 72, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 73, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ul {
  list-style-type: disc;
}
/* line 75, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp ol {
  list-style-type: decimal;
}
/* line 76, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dl dt {
  font-weight: bold;
}
/* line 78, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp dd {
  margin-left: 1.5em;
}
/* line 79, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th {
  font-weight: bold;
}
/* line 81, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp thead th {
  background: #c3d9ff;
}
/* line 82, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp table.striped tr:nth-child(even) td,
body.bp table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp tfoot {
  font-style: italic;
}
/* line 87, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp caption {
  background: #eeeeee;
}
/* line 88, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .quiet {
  color: #666666;
}
/* line 89, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body.bp .loud {
  color: #111111;
}
/* line 9, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clear {
  clear: both;
}
/* line 12, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .nowrap {
  white-space: nowrap;
}
/* line 16, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
/* line 18, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
/* line 22, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
/* line 26, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
/* line 29, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
/* line 32, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
/* line 35, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 25, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
body.bp .showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 660 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(1.136%, rgba(100, 100, 225, 0.25)), color-stop(1.136%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(0, 0, 0, 0)), color-stop(4.167%, rgba(100, 100, 225, 0.25)), color-stop(5.303%, rgba(100, 100, 225, 0.25)), color-stop(5.303%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(0, 0, 0, 0)), color-stop(8.333%, rgba(100, 100, 225, 0.25)), color-stop(9.47%, rgba(100, 100, 225, 0.25)), color-stop(9.47%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(100, 100, 225, 0.25)), color-stop(13.636%, rgba(100, 100, 225, 0.25)), color-stop(13.636%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(0, 0, 0, 0)), color-stop(16.667%, rgba(100, 100, 225, 0.25)), color-stop(17.803%, rgba(100, 100, 225, 0.25)), color-stop(17.803%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(0, 0, 0, 0)), color-stop(20.833%, rgba(100, 100, 225, 0.25)), color-stop(21.97%, rgba(100, 100, 225, 0.25)), color-stop(21.97%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(26.136%, rgba(100, 100, 225, 0.25)), color-stop(26.136%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(0, 0, 0, 0)), color-stop(29.167%, rgba(100, 100, 225, 0.25)), color-stop(30.303%, rgba(100, 100, 225, 0.25)), color-stop(30.303%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(0, 0, 0, 0)), color-stop(33.333%, rgba(100, 100, 225, 0.25)), color-stop(34.47%, rgba(100, 100, 225, 0.25)), color-stop(34.47%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(100, 100, 225, 0.25)), color-stop(38.636%, rgba(100, 100, 225, 0.25)), color-stop(38.636%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(0, 0, 0, 0)), color-stop(41.667%, rgba(100, 100, 225, 0.25)), color-stop(42.803%, rgba(100, 100, 225, 0.25)), color-stop(42.803%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(0, 0, 0, 0)), color-stop(45.833%, rgba(100, 100, 225, 0.25)), color-stop(46.97%, rgba(100, 100, 225, 0.25)), color-stop(46.97%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(51.136%, rgba(100, 100, 225, 0.25)), color-stop(51.136%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(0, 0, 0, 0)), color-stop(54.167%, rgba(100, 100, 225, 0.25)), color-stop(55.303%, rgba(100, 100, 225, 0.25)), color-stop(55.303%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(0, 0, 0, 0)), color-stop(58.333%, rgba(100, 100, 225, 0.25)), color-stop(59.47%, rgba(100, 100, 225, 0.25)), color-stop(59.47%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(100, 100, 225, 0.25)), color-stop(63.636%, rgba(100, 100, 225, 0.25)), color-stop(63.636%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(0, 0, 0, 0)), color-stop(66.667%, rgba(100, 100, 225, 0.25)), color-stop(67.803%, rgba(100, 100, 225, 0.25)), color-stop(67.803%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(0, 0, 0, 0)), color-stop(70.833%, rgba(100, 100, 225, 0.25)), color-stop(71.97%, rgba(100, 100, 225, 0.25)), color-stop(71.97%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(76.136%, rgba(100, 100, 225, 0.25)), color-stop(76.136%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(0, 0, 0, 0)), color-stop(79.167%, rgba(100, 100, 225, 0.25)), color-stop(80.303%, rgba(100, 100, 225, 0.25)), color-stop(80.303%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(0, 0, 0, 0)), color-stop(83.333%, rgba(100, 100, 225, 0.25)), color-stop(84.47%, rgba(100, 100, 225, 0.25)), color-stop(84.47%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(100, 100, 225, 0.25)), color-stop(88.636%, rgba(100, 100, 225, 0.25)), color-stop(88.636%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(0, 0, 0, 0)), color-stop(91.667%, rgba(100, 100, 225, 0.25)), color-stop(92.803%, rgba(100, 100, 225, 0.25)), color-stop(92.803%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(0, 0, 0, 0)), color-stop(95.833%, rgba(100, 100, 225, 0.25)), color-stop(96.97%, rgba(100, 100, 225, 0.25)), color-stop(96.97%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 7.5px, rgba(0, 0, 0, 0) 7.5px, rgba(0, 0, 0, 0) 27.5px, rgba(100, 100, 225, 0.25) 27.5px, rgba(100, 100, 225, 0.25) 35px, rgba(0, 0, 0, 0) 35px, rgba(0, 0, 0, 0) 55px, rgba(100, 100, 225, 0.25) 55px, rgba(100, 100, 225, 0.25) 62.5px, rgba(0, 0, 0, 0) 62.5px, rgba(0, 0, 0, 0) 82.5px, rgba(100, 100, 225, 0.25) 82.5px, rgba(100, 100, 225, 0.25) 90px, rgba(0, 0, 0, 0) 90px, rgba(0, 0, 0, 0) 110px, rgba(100, 100, 225, 0.25) 110px, rgba(100, 100, 225, 0.25) 117.5px, rgba(0, 0, 0, 0) 117.5px, rgba(0, 0, 0, 0) 137.5px, rgba(100, 100, 225, 0.25) 137.5px, rgba(100, 100, 225, 0.25) 145px, rgba(0, 0, 0, 0) 145px, rgba(0, 0, 0, 0) 165px, rgba(100, 100, 225, 0.25) 165px, rgba(100, 100, 225, 0.25) 172.5px, rgba(0, 0, 0, 0) 172.5px, rgba(0, 0, 0, 0) 192.5px, rgba(100, 100, 225, 0.25) 192.5px, rgba(100, 100, 225, 0.25) 200px, rgba(0, 0, 0, 0) 200px, rgba(0, 0, 0, 0) 220px, rgba(100, 100, 225, 0.25) 220px, rgba(100, 100, 225, 0.25) 227.5px, rgba(0, 0, 0, 0) 227.5px, rgba(0, 0, 0, 0) 247.5px, rgba(100, 100, 225, 0.25) 247.5px, rgba(100, 100, 225, 0.25) 255px, rgba(0, 0, 0, 0) 255px, rgba(0, 0, 0, 0) 275px, rgba(100, 100, 225, 0.25) 275px, rgba(100, 100, 225, 0.25) 282.5px, rgba(0, 0, 0, 0) 282.5px, rgba(0, 0, 0, 0) 302.5px, rgba(100, 100, 225, 0.25) 302.5px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 330px, rgba(100, 100, 225, 0.25) 330px, rgba(100, 100, 225, 0.25) 337.5px, rgba(0, 0, 0, 0) 337.5px, rgba(0, 0, 0, 0) 357.5px, rgba(100, 100, 225, 0.25) 357.5px, rgba(100, 100, 225, 0.25) 365px, rgba(0, 0, 0, 0) 365px, rgba(0, 0, 0, 0) 385px, rgba(100, 100, 225, 0.25) 385px, rgba(100, 100, 225, 0.25) 392.5px, rgba(0, 0, 0, 0) 392.5px, rgba(0, 0, 0, 0) 412.5px, rgba(100, 100, 225, 0.25) 412.5px, rgba(100, 100, 225, 0.25) 420px, rgba(0, 0, 0, 0) 420px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 447.5px, rgba(0, 0, 0, 0) 447.5px, rgba(0, 0, 0, 0) 467.5px, rgba(100, 100, 225, 0.25) 467.5px, rgba(100, 100, 225, 0.25) 475px, rgba(0, 0, 0, 0) 475px, rgba(0, 0, 0, 0) 495px, rgba(100, 100, 225, 0.25) 495px, rgba(100, 100, 225, 0.25) 502.5px, rgba(0, 0, 0, 0) 502.5px, rgba(0, 0, 0, 0) 522.5px, rgba(100, 100, 225, 0.25) 522.5px, rgba(100, 100, 225, 0.25) 530px, rgba(0, 0, 0, 0) 530px, rgba(0, 0, 0, 0) 550px, rgba(100, 100, 225, 0.25) 550px, rgba(100, 100, 225, 0.25) 557.5px, rgba(0, 0, 0, 0) 557.5px, rgba(0, 0, 0, 0) 577.5px, rgba(100, 100, 225, 0.25) 577.5px, rgba(100, 100, 225, 0.25) 585px, rgba(0, 0, 0, 0) 585px, rgba(0, 0, 0, 0) 605px, rgba(100, 100, 225, 0.25) 605px, rgba(100, 100, 225, 0.25) 612.5px, rgba(0, 0, 0, 0) 612.5px, rgba(0, 0, 0, 0) 632.5px, rgba(100, 100, 225, 0.25) 632.5px, rgba(100, 100, 225, 0.25) 640px, rgba(0, 0, 0, 0) 640px, rgba(0, 0, 0, 0) 660px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 7.5px, rgba(0, 0, 0, 0) 7.5px, rgba(0, 0, 0, 0) 27.5px, rgba(100, 100, 225, 0.25) 27.5px, rgba(100, 100, 225, 0.25) 35px, rgba(0, 0, 0, 0) 35px, rgba(0, 0, 0, 0) 55px, rgba(100, 100, 225, 0.25) 55px, rgba(100, 100, 225, 0.25) 62.5px, rgba(0, 0, 0, 0) 62.5px, rgba(0, 0, 0, 0) 82.5px, rgba(100, 100, 225, 0.25) 82.5px, rgba(100, 100, 225, 0.25) 90px, rgba(0, 0, 0, 0) 90px, rgba(0, 0, 0, 0) 110px, rgba(100, 100, 225, 0.25) 110px, rgba(100, 100, 225, 0.25) 117.5px, rgba(0, 0, 0, 0) 117.5px, rgba(0, 0, 0, 0) 137.5px, rgba(100, 100, 225, 0.25) 137.5px, rgba(100, 100, 225, 0.25) 145px, rgba(0, 0, 0, 0) 145px, rgba(0, 0, 0, 0) 165px, rgba(100, 100, 225, 0.25) 165px, rgba(100, 100, 225, 0.25) 172.5px, rgba(0, 0, 0, 0) 172.5px, rgba(0, 0, 0, 0) 192.5px, rgba(100, 100, 225, 0.25) 192.5px, rgba(100, 100, 225, 0.25) 200px, rgba(0, 0, 0, 0) 200px, rgba(0, 0, 0, 0) 220px, rgba(100, 100, 225, 0.25) 220px, rgba(100, 100, 225, 0.25) 227.5px, rgba(0, 0, 0, 0) 227.5px, rgba(0, 0, 0, 0) 247.5px, rgba(100, 100, 225, 0.25) 247.5px, rgba(100, 100, 225, 0.25) 255px, rgba(0, 0, 0, 0) 255px, rgba(0, 0, 0, 0) 275px, rgba(100, 100, 225, 0.25) 275px, rgba(100, 100, 225, 0.25) 282.5px, rgba(0, 0, 0, 0) 282.5px, rgba(0, 0, 0, 0) 302.5px, rgba(100, 100, 225, 0.25) 302.5px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 330px, rgba(100, 100, 225, 0.25) 330px, rgba(100, 100, 225, 0.25) 337.5px, rgba(0, 0, 0, 0) 337.5px, rgba(0, 0, 0, 0) 357.5px, rgba(100, 100, 225, 0.25) 357.5px, rgba(100, 100, 225, 0.25) 365px, rgba(0, 0, 0, 0) 365px, rgba(0, 0, 0, 0) 385px, rgba(100, 100, 225, 0.25) 385px, rgba(100, 100, 225, 0.25) 392.5px, rgba(0, 0, 0, 0) 392.5px, rgba(0, 0, 0, 0) 412.5px, rgba(100, 100, 225, 0.25) 412.5px, rgba(100, 100, 225, 0.25) 420px, rgba(0, 0, 0, 0) 420px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 447.5px, rgba(0, 0, 0, 0) 447.5px, rgba(0, 0, 0, 0) 467.5px, rgba(100, 100, 225, 0.25) 467.5px, rgba(100, 100, 225, 0.25) 475px, rgba(0, 0, 0, 0) 475px, rgba(0, 0, 0, 0) 495px, rgba(100, 100, 225, 0.25) 495px, rgba(100, 100, 225, 0.25) 502.5px, rgba(0, 0, 0, 0) 502.5px, rgba(0, 0, 0, 0) 522.5px, rgba(100, 100, 225, 0.25) 522.5px, rgba(100, 100, 225, 0.25) 530px, rgba(0, 0, 0, 0) 530px, rgba(0, 0, 0, 0) 550px, rgba(100, 100, 225, 0.25) 550px, rgba(100, 100, 225, 0.25) 557.5px, rgba(0, 0, 0, 0) 557.5px, rgba(0, 0, 0, 0) 577.5px, rgba(100, 100, 225, 0.25) 577.5px, rgba(100, 100, 225, 0.25) 585px, rgba(0, 0, 0, 0) 585px, rgba(0, 0, 0, 0) 605px, rgba(100, 100, 225, 0.25) 605px, rgba(100, 100, 225, 0.25) 612.5px, rgba(0, 0, 0, 0) 612.5px, rgba(0, 0, 0, 0) 632.5px, rgba(100, 100, 225, 0.25) 632.5px, rgba(100, 100, 225, 0.25) 640px, rgba(0, 0, 0, 0) 640px, rgba(0, 0, 0, 0) 660px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 7.5px, rgba(0, 0, 0, 0) 7.5px, rgba(0, 0, 0, 0) 27.5px, rgba(100, 100, 225, 0.25) 27.5px, rgba(100, 100, 225, 0.25) 35px, rgba(0, 0, 0, 0) 35px, rgba(0, 0, 0, 0) 55px, rgba(100, 100, 225, 0.25) 55px, rgba(100, 100, 225, 0.25) 62.5px, rgba(0, 0, 0, 0) 62.5px, rgba(0, 0, 0, 0) 82.5px, rgba(100, 100, 225, 0.25) 82.5px, rgba(100, 100, 225, 0.25) 90px, rgba(0, 0, 0, 0) 90px, rgba(0, 0, 0, 0) 110px, rgba(100, 100, 225, 0.25) 110px, rgba(100, 100, 225, 0.25) 117.5px, rgba(0, 0, 0, 0) 117.5px, rgba(0, 0, 0, 0) 137.5px, rgba(100, 100, 225, 0.25) 137.5px, rgba(100, 100, 225, 0.25) 145px, rgba(0, 0, 0, 0) 145px, rgba(0, 0, 0, 0) 165px, rgba(100, 100, 225, 0.25) 165px, rgba(100, 100, 225, 0.25) 172.5px, rgba(0, 0, 0, 0) 172.5px, rgba(0, 0, 0, 0) 192.5px, rgba(100, 100, 225, 0.25) 192.5px, rgba(100, 100, 225, 0.25) 200px, rgba(0, 0, 0, 0) 200px, rgba(0, 0, 0, 0) 220px, rgba(100, 100, 225, 0.25) 220px, rgba(100, 100, 225, 0.25) 227.5px, rgba(0, 0, 0, 0) 227.5px, rgba(0, 0, 0, 0) 247.5px, rgba(100, 100, 225, 0.25) 247.5px, rgba(100, 100, 225, 0.25) 255px, rgba(0, 0, 0, 0) 255px, rgba(0, 0, 0, 0) 275px, rgba(100, 100, 225, 0.25) 275px, rgba(100, 100, 225, 0.25) 282.5px, rgba(0, 0, 0, 0) 282.5px, rgba(0, 0, 0, 0) 302.5px, rgba(100, 100, 225, 0.25) 302.5px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 330px, rgba(100, 100, 225, 0.25) 330px, rgba(100, 100, 225, 0.25) 337.5px, rgba(0, 0, 0, 0) 337.5px, rgba(0, 0, 0, 0) 357.5px, rgba(100, 100, 225, 0.25) 357.5px, rgba(100, 100, 225, 0.25) 365px, rgba(0, 0, 0, 0) 365px, rgba(0, 0, 0, 0) 385px, rgba(100, 100, 225, 0.25) 385px, rgba(100, 100, 225, 0.25) 392.5px, rgba(0, 0, 0, 0) 392.5px, rgba(0, 0, 0, 0) 412.5px, rgba(100, 100, 225, 0.25) 412.5px, rgba(100, 100, 225, 0.25) 420px, rgba(0, 0, 0, 0) 420px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 447.5px, rgba(0, 0, 0, 0) 447.5px, rgba(0, 0, 0, 0) 467.5px, rgba(100, 100, 225, 0.25) 467.5px, rgba(100, 100, 225, 0.25) 475px, rgba(0, 0, 0, 0) 475px, rgba(0, 0, 0, 0) 495px, rgba(100, 100, 225, 0.25) 495px, rgba(100, 100, 225, 0.25) 502.5px, rgba(0, 0, 0, 0) 502.5px, rgba(0, 0, 0, 0) 522.5px, rgba(100, 100, 225, 0.25) 522.5px, rgba(100, 100, 225, 0.25) 530px, rgba(0, 0, 0, 0) 530px, rgba(0, 0, 0, 0) 550px, rgba(100, 100, 225, 0.25) 550px, rgba(100, 100, 225, 0.25) 557.5px, rgba(0, 0, 0, 0) 557.5px, rgba(0, 0, 0, 0) 577.5px, rgba(100, 100, 225, 0.25) 577.5px, rgba(100, 100, 225, 0.25) 585px, rgba(0, 0, 0, 0) 585px, rgba(0, 0, 0, 0) 605px, rgba(100, 100, 225, 0.25) 605px, rgba(100, 100, 225, 0.25) 612.5px, rgba(0, 0, 0, 0) 612.5px, rgba(0, 0, 0, 0) 632.5px, rgba(100, 100, 225, 0.25) 632.5px, rgba(100, 100, 225, 0.25) 640px, rgba(0, 0, 0, 0) 640px, rgba(0, 0, 0, 0) 660px);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 7.5px, rgba(0, 0, 0, 0) 7.5px, rgba(0, 0, 0, 0) 27.5px, rgba(100, 100, 225, 0.25) 27.5px, rgba(100, 100, 225, 0.25) 35px, rgba(0, 0, 0, 0) 35px, rgba(0, 0, 0, 0) 55px, rgba(100, 100, 225, 0.25) 55px, rgba(100, 100, 225, 0.25) 62.5px, rgba(0, 0, 0, 0) 62.5px, rgba(0, 0, 0, 0) 82.5px, rgba(100, 100, 225, 0.25) 82.5px, rgba(100, 100, 225, 0.25) 90px, rgba(0, 0, 0, 0) 90px, rgba(0, 0, 0, 0) 110px, rgba(100, 100, 225, 0.25) 110px, rgba(100, 100, 225, 0.25) 117.5px, rgba(0, 0, 0, 0) 117.5px, rgba(0, 0, 0, 0) 137.5px, rgba(100, 100, 225, 0.25) 137.5px, rgba(100, 100, 225, 0.25) 145px, rgba(0, 0, 0, 0) 145px, rgba(0, 0, 0, 0) 165px, rgba(100, 100, 225, 0.25) 165px, rgba(100, 100, 225, 0.25) 172.5px, rgba(0, 0, 0, 0) 172.5px, rgba(0, 0, 0, 0) 192.5px, rgba(100, 100, 225, 0.25) 192.5px, rgba(100, 100, 225, 0.25) 200px, rgba(0, 0, 0, 0) 200px, rgba(0, 0, 0, 0) 220px, rgba(100, 100, 225, 0.25) 220px, rgba(100, 100, 225, 0.25) 227.5px, rgba(0, 0, 0, 0) 227.5px, rgba(0, 0, 0, 0) 247.5px, rgba(100, 100, 225, 0.25) 247.5px, rgba(100, 100, 225, 0.25) 255px, rgba(0, 0, 0, 0) 255px, rgba(0, 0, 0, 0) 275px, rgba(100, 100, 225, 0.25) 275px, rgba(100, 100, 225, 0.25) 282.5px, rgba(0, 0, 0, 0) 282.5px, rgba(0, 0, 0, 0) 302.5px, rgba(100, 100, 225, 0.25) 302.5px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 330px, rgba(100, 100, 225, 0.25) 330px, rgba(100, 100, 225, 0.25) 337.5px, rgba(0, 0, 0, 0) 337.5px, rgba(0, 0, 0, 0) 357.5px, rgba(100, 100, 225, 0.25) 357.5px, rgba(100, 100, 225, 0.25) 365px, rgba(0, 0, 0, 0) 365px, rgba(0, 0, 0, 0) 385px, rgba(100, 100, 225, 0.25) 385px, rgba(100, 100, 225, 0.25) 392.5px, rgba(0, 0, 0, 0) 392.5px, rgba(0, 0, 0, 0) 412.5px, rgba(100, 100, 225, 0.25) 412.5px, rgba(100, 100, 225, 0.25) 420px, rgba(0, 0, 0, 0) 420px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 447.5px, rgba(0, 0, 0, 0) 447.5px, rgba(0, 0, 0, 0) 467.5px, rgba(100, 100, 225, 0.25) 467.5px, rgba(100, 100, 225, 0.25) 475px, rgba(0, 0, 0, 0) 475px, rgba(0, 0, 0, 0) 495px, rgba(100, 100, 225, 0.25) 495px, rgba(100, 100, 225, 0.25) 502.5px, rgba(0, 0, 0, 0) 502.5px, rgba(0, 0, 0, 0) 522.5px, rgba(100, 100, 225, 0.25) 522.5px, rgba(100, 100, 225, 0.25) 530px, rgba(0, 0, 0, 0) 530px, rgba(0, 0, 0, 0) 550px, rgba(100, 100, 225, 0.25) 550px, rgba(100, 100, 225, 0.25) 557.5px, rgba(0, 0, 0, 0) 557.5px, rgba(0, 0, 0, 0) 577.5px, rgba(100, 100, 225, 0.25) 577.5px, rgba(100, 100, 225, 0.25) 585px, rgba(0, 0, 0, 0) 585px, rgba(0, 0, 0, 0) 605px, rgba(100, 100, 225, 0.25) 605px, rgba(100, 100, 225, 0.25) 612.5px, rgba(0, 0, 0, 0) 612.5px, rgba(0, 0, 0, 0) 632.5px, rgba(100, 100, 225, 0.25) 632.5px, rgba(100, 100, 225, 0.25) 640px, rgba(0, 0, 0, 0) 640px, rgba(0, 0, 0, 0) 660px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 7.5px, rgba(0, 0, 0, 0) 7.5px, rgba(0, 0, 0, 0) 27.5px, rgba(100, 100, 225, 0.25) 27.5px, rgba(100, 100, 225, 0.25) 35px, rgba(0, 0, 0, 0) 35px, rgba(0, 0, 0, 0) 55px, rgba(100, 100, 225, 0.25) 55px, rgba(100, 100, 225, 0.25) 62.5px, rgba(0, 0, 0, 0) 62.5px, rgba(0, 0, 0, 0) 82.5px, rgba(100, 100, 225, 0.25) 82.5px, rgba(100, 100, 225, 0.25) 90px, rgba(0, 0, 0, 0) 90px, rgba(0, 0, 0, 0) 110px, rgba(100, 100, 225, 0.25) 110px, rgba(100, 100, 225, 0.25) 117.5px, rgba(0, 0, 0, 0) 117.5px, rgba(0, 0, 0, 0) 137.5px, rgba(100, 100, 225, 0.25) 137.5px, rgba(100, 100, 225, 0.25) 145px, rgba(0, 0, 0, 0) 145px, rgba(0, 0, 0, 0) 165px, rgba(100, 100, 225, 0.25) 165px, rgba(100, 100, 225, 0.25) 172.5px, rgba(0, 0, 0, 0) 172.5px, rgba(0, 0, 0, 0) 192.5px, rgba(100, 100, 225, 0.25) 192.5px, rgba(100, 100, 225, 0.25) 200px, rgba(0, 0, 0, 0) 200px, rgba(0, 0, 0, 0) 220px, rgba(100, 100, 225, 0.25) 220px, rgba(100, 100, 225, 0.25) 227.5px, rgba(0, 0, 0, 0) 227.5px, rgba(0, 0, 0, 0) 247.5px, rgba(100, 100, 225, 0.25) 247.5px, rgba(100, 100, 225, 0.25) 255px, rgba(0, 0, 0, 0) 255px, rgba(0, 0, 0, 0) 275px, rgba(100, 100, 225, 0.25) 275px, rgba(100, 100, 225, 0.25) 282.5px, rgba(0, 0, 0, 0) 282.5px, rgba(0, 0, 0, 0) 302.5px, rgba(100, 100, 225, 0.25) 302.5px, rgba(100, 100, 225, 0.25) 310px, rgba(0, 0, 0, 0) 310px, rgba(0, 0, 0, 0) 330px, rgba(100, 100, 225, 0.25) 330px, rgba(100, 100, 225, 0.25) 337.5px, rgba(0, 0, 0, 0) 337.5px, rgba(0, 0, 0, 0) 357.5px, rgba(100, 100, 225, 0.25) 357.5px, rgba(100, 100, 225, 0.25) 365px, rgba(0, 0, 0, 0) 365px, rgba(0, 0, 0, 0) 385px, rgba(100, 100, 225, 0.25) 385px, rgba(100, 100, 225, 0.25) 392.5px, rgba(0, 0, 0, 0) 392.5px, rgba(0, 0, 0, 0) 412.5px, rgba(100, 100, 225, 0.25) 412.5px, rgba(100, 100, 225, 0.25) 420px, rgba(0, 0, 0, 0) 420px, rgba(0, 0, 0, 0) 440px, rgba(100, 100, 225, 0.25) 440px, rgba(100, 100, 225, 0.25) 447.5px, rgba(0, 0, 0, 0) 447.5px, rgba(0, 0, 0, 0) 467.5px, rgba(100, 100, 225, 0.25) 467.5px, rgba(100, 100, 225, 0.25) 475px, rgba(0, 0, 0, 0) 475px, rgba(0, 0, 0, 0) 495px, rgba(100, 100, 225, 0.25) 495px, rgba(100, 100, 225, 0.25) 502.5px, rgba(0, 0, 0, 0) 502.5px, rgba(0, 0, 0, 0) 522.5px, rgba(100, 100, 225, 0.25) 522.5px, rgba(100, 100, 225, 0.25) 530px, rgba(0, 0, 0, 0) 530px, rgba(0, 0, 0, 0) 550px, rgba(100, 100, 225, 0.25) 550px, rgba(100, 100, 225, 0.25) 557.5px, rgba(0, 0, 0, 0) 557.5px, rgba(0, 0, 0, 0) 577.5px, rgba(100, 100, 225, 0.25) 577.5px, rgba(100, 100, 225, 0.25) 585px, rgba(0, 0, 0, 0) 585px, rgba(0, 0, 0, 0) 605px, rgba(100, 100, 225, 0.25) 605px, rgba(100, 100, 225, 0.25) 612.5px, rgba(0, 0, 0, 0) 612.5px, rgba(0, 0, 0, 0) 632.5px, rgba(100, 100, 225, 0.25) 632.5px, rgba(100, 100, 225, 0.25) 640px, rgba(0, 0, 0, 0) 640px, rgba(0, 0, 0, 0) 660px);
  -moz-background-size: 100% 27px, auto;
  -webkit-background-size: 100% 27px, auto;
  -o-background-size: 100% 27px, auto;
  background-size: 100% 27px, auto;
  background-position: left top;
}
/* line 4, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .feedback, body.bp .error, body.bp .alert, body.bp .notice, body.bp .success, body.bp .info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
}
/* line 5, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error, body.bp .alert {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .error a, body.bp .alert a {
  color: #8a1f11;
}
/* line 7, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice {
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .notice a {
  color: #514721;
}
/* line 8, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .success a {
  color: #264409;
}
/* line 9, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info {
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .info a {
  color: #205791;
}
/* line 10, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .hide {
  display: none;
}
/* line 11, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .highlight {
  background: yellow;
}
/* line 12, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .added {
  background: #006600;
  color: white;
}
/* line 13, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
body.bp .removed {
  background: #990000;
  color: white;
}

/* line 18, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 55, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 46, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}
/* line 39, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
/* line 42, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .border {
  padding-right: 9px;
  margin-right: 10px;
  border-right: 1px solid #dddddd;
}
/* line 45, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp .colborder {
  padding-right: 23px;
  margin-right: 24px;
  border-right: 1px solid #dddddd;
}
/* line 47, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 49, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
/* line 51, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.bp form.inline {
  line-height: 3;
}
/* line 6, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp form.inline p {
  margin-bottom: 0;
}

/* line 39, ../sass/screen.sass */
body.two-col #container {
  width: 640px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 41, ../sass/screen.sass */
body.two-col #header, body.two-col #footer {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 640px;
}
/* line 147, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #header, * html body.two-col #footer {
  overflow-x: hidden;
}
/* line 43, ../sass/screen.sass */
body.two-col #sidebar {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 200px;
}
/* line 147, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #sidebar {
  overflow-x: hidden;
}
/* line 47, ../sass/screen.sass */
body.two-col #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 420px;
}
/* line 147, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.two-col #content {
  overflow-x: hidden;
}

/* line 56, ../sass/screen.sass */
body {
  line-height: 1.5;
  font-family: Georgia, Times, Times New Roman, serif;
  color: #333333;
  font-size: 112.5%;
}
/* line 51, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 53, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:visited {
  color: #004c99;
}
/* line 21, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: #bf00ff;
}
/* line 63, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong, body dfn {
  font-weight: bold;
}
/* line 65, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em, body dfn {
  font-style: italic;
}
/* line 66, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 67, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del {
  color: #666666;
}
/* line 70, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt {
  font: 1em Monaco, Courier New, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  line-height: 1.5;
}
/* line 72, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 73, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 75, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 76, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 78, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 79, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th {
  font-weight: bold;
}
/* line 81, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 82, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table.striped tr:nth-child(even) td, body table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 87, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption {
  background: #eeeeee;
}
/* line 88, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet {
  color: #666666;
}
/* line 89, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud {
  color: #111111;
}
/* line 58, ../sass/screen.sass */
body a, body a:link, body a:visited {
  text-decoration: none;
  color: #0033cc;
}
/* line 4, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
body a:hover, body a:link:hover, body a:visited:hover {
  text-decoration: underline;
}
/* line 61, ../sass/screen.sass */
body #container {
  width: 640px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  line-height: 2;
  padding-top: 140px;
}
/* line 66, ../sass/screen.sass */
body #header {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 392.5px;
  padding-left: 55px;
}
/* line 147, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #header {
  overflow-x: hidden;
}
/* line 70, ../sass/screen.sass */
body #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 172.5px;
}
/* line 147, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content {
  overflow-x: hidden;
}

/* line 76, ../sass/screen.sass */
body#index #header h1 {
  margin: 0;
  margin-bottom: 0em;
}
/* line 79, ../sass/screen.sass */
body#index #header p {
  margin-bottom: 0em;
}
/* line 81, ../sass/screen.sass */
body#index #header p.current {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 0.8em;
  margin-bottom: 1em;
}
/* line 87, ../sass/screen.sass */
body#index #header p.email {
  line-height: 1;
}
/* line 89, ../sass/screen.sass */
body#index #header p.email small {
  font-size: 0.5em;
  margin-left: 80px;
}
/* line 93, ../sass/screen.sass */
body#index #content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}
/* line 11, ../../../../../../.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
body#index #content ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 98, ../sass/screen.sass */
body#index #content ul li {
  margin-bottom: 0em;
}
/* line 100, ../sass/screen.sass */
body#index #content ul li small {
  display: block;
  margin-top: -1em;
  font-size: 0.6em;
  color: #999999;
}
/* line 106, ../sass/screen.sass */
body#index #content ul li.notused a, body#index #content ul li.notused a:link {
  color: #aaaaaa;
}
